.Detail-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .in-page {
    display: flex;
    padding: 30px 20px;
    box-sizing: border-box;
    width: 730px;
    height: 930px;
    background: #f4f5f7;
    border-radius: 3px;
    position: relative;
    flex-wrap: wrap;

    .page-close {
      position: absolute;
      top: 15px;
      right: 20px;
      font-size: 20px;
      cursor: pointer;
      opacity: 0.75;
    }

    .page-header {
      display: flex;
      width: 100%;
      flex-direction: column;

      .in-wrap {
        display: flex;
        align-items: center;

        .fa-credit-card {
          color: #555;
          width: 25px;
          height: 25px;
        }

        .page-title {
          margin: 0 10px;
          color: #172b4d;
          font-weight: 700;
          font-size: 20px;
          width: 90% !important;
          border: 0;
          background: transparent;
          resize: none;
        }

        .fa-check {
          position: relative;
          top: 2px;
          cursor: pointer;
        }
      }
      .inst {
        padding: 10px 0 20px 37px;
        font-size: 14px;

        span {
          text-decoration: underline;
        }
      }
    }

    .left_con {
      width: calc(100% - 230px);
      height: calc(100% - 75px);

      .des_area {
        .area-header {
          display: flex;
          align-items: center;
          margin-bottom: 20px;

          p {
            margin: 0 12px;
            color: #102342;
            font-weight: 700;
            font-size: 16px;
          }

          button {
            outline: 0;
            border: 0;
            background: #091e420a;
            border-radius: 3px;
            padding: 7.5px 10px;
            cursor: pointer;
          }
        }

        .description {
          width: 100%;
          border: 0;
          resize: none;
          background: transparent;
          margin-bottom: 20px;
        }

        .description-false {
          @extend .description;
          outline: 0;
        }

        .btn_wrap {
          display: flex;
          align-items: center;
          .save {
            background: #1555c4;
            color: #fff;
            padding: 10px 20px;
            box-sizing: border-box;
            outline: 0;
            border-radius: 3px;
            border: 0;
            margin-right: 15px;
            cursor: pointer;
          }

          .btn-close {
            @extend .save;
            background: #333;
            font-size: 14px;
          }
          .fa-xmark {
            font-weight: 400;
            font-size: 35px;
          }
        }
      }
    }
    .btn-area {
      display: flex;
      width: 180px;
      padding-left: 50px;
      flex-direction: column;
      position: absolute;
      top: 65px;
      right: 25px;

      .gears {
        margin-right: 10px;
      }

      p {
        font-weight: 500;
        box-sizing: border-box;
        text-align: center;
        font-weight: 700;
      }

      .btns {
        width: 100%;
        margin-top: 20px;
      }

      .btns li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 30px;
        background: #091e420a;
        margin-bottom: 15px;
        border-radius: 3px;
        font-size: 14px;
        cursor: pointer;
      }

      .btns li:last-child {
        margin-bottom: 0;
      }

      .btns li:hover {
        background: #333;
        color: #fff;
      }
    }
  }
}
